html, body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #eba5f1; /* Change background color to a light grayish tone */
  border-color: transparent;
  color: black;
  font-family: "Helvetica Neue", Arial, sans-serif; /* Change font-family to a clean and modern font */
}

img {
  width: 120px; /* Increase width for larger images */
  padding: 20px; /* Decrease padding for smaller spacing */
  opacity: 0.7; /* Adjust opacity for a softer look */
}

h1 {
  font-size: 42px; /* Decrease font-size for a more balanced heading */
  text-transform: capitalize; /* Change text-transform to capitalize */
}

button {
  background: rgba(255, 255, 255, 0.3); /* Adjust background color transparency for a softer appearance */
  border-style: none;
  border-radius: 25px;
  color: #fff; /* Change text color to white */
  font-size: 18px; /* Decrease font-size for smaller buttons */
  padding: 0.5em 1em; /* Adjust padding for smaller buttons */
  outline: none;
  margin: 0.5em 1em;
  opacity: 0.7; /* Adjust opacity for a softer look */
}

button:hover,
button:active,
img:hover,
img:active {
  cursor: pointer;
}

input[type="range"] {
  visibility: hidden;
}

input[type="range"].slider-active {
  visibility: visible;
}

.active {
  opacity: 1;
  font-weight: bold;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#sound-types {
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 50px;
  max-width: 100vh;
  min-height: 100vh;
}

#welcome-text {
  font-size: 24px; /* Decrease font-size for smaller text */
  text-align: center;
  padding-bottom: 1em; /* Decrease padding-bottom for smaller spacing */
}

#btn-mute {
  text-align: center;
  font-size: 2.5em; /* Increase font-size for larger button */
  width: 100px;
  margin-bottom: 10px; /* Decrease margin-bottom for smaller spacing */
}
