<%- include("partials/headerFixed"); -%>

<style>
  .circle{
  position: absolute;
  border-radius: 50%;
  background: rgb(245, 152, 152);
  /* animation: ripple 15s infinite; */
  box-shadow: 0px 0px 1px 0px #fc0101;
}

.small{
  width: 400px;
  height: 400px;
  left: -100px;
  bottom: -100px;
}

.medium{
  width: 800px;
  height: 800px;
  left: -200px;
  bottom: -200px;
}

.large{
  width: 1600px;
  height: 1600px;
  left: -300px;
  bottom: -300px;
}

.xlarge{
  width: 3200px;
  height: 3200px;
  left: -400px;
  bottom: -400px;
}

.xxlarge{
  width: 6400px;
  height: 6400px;
  left: -500px;
  bottom: -500px;
}

.shade1{
  opacity: 0.2;
  z-index: -100;
}
.shade2{
  opacity: 0.5;
  z-index: -100;
}

.shade3{
  opacity: 0.2;
  z-index: -100;
}

.shade4{
  opacity: 0.8;
  z-index: -100;
}

.shade5{
  opacity: 0.9;
  z-index: -100;
}
    body
    {
        background-image: url();
        background-size: contain;
        background-color: white;
        background-repeat: no-repeat;
        backdrop-filter: blur(1px);   
    }
   .content h1
   {
       text-align: center;
        font-size: 80px;
        margin: 0 35%;
        background-color: #588096;
        color: white;
   }
   img
   {
       height: 63px;
       width: 63px;
       border-radius: 550px;
   }
</style>
<br><br><br><br><br><br><br>

<div class='ripple-background'>
  <div class='circle xxlarge shade1'></div>
  <div class='circle xlarge shade2'></div>
  <div class='circle large shade3'></div>
  <div class='circle mediun shade4'></div>
  <div class='circle small shade5'></div>
</div>
    
<section id="about" class="about">
    <div class="container">

      <div class="row content">
        <div  data-aos="fade-right" data-aos-delay="100">
          <h2>Cognitive GAMES</h2>
          <br><br>
          <h3>Lifestyle habits impact brain health. Increased mental stimulation yields rapid rewards.
            </h3>
        </div>
        </div>
      </div>

    </div>
  </section>
  
  <section id="services" class="services">
    <div class="container">

        <div class="col-lg-15">
          <div class="row" >
            <div class="col-md-6 d-flex align-items-stretch">
              <div class="icon-box" style="background-color: whitesmoke;" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon"><img src="https://cdn.pixabay.com/photo/2017/01/31/14/36/yin-yang-2024615_960_720.png"></div>
                <h4><a href="/silk"> Silken Harmony</a></h4>
                <p>An extraordinary and captivating free online art tool. Effortlessly create mesmerizing digital masterpieces with Silk's award-winning magic brush. Unlock your inner artist, design intricate mandalas and captivating wallpapers, and witness the enchanting strands gracefully weave magnificent works of art with a simple swish of your finger.</p>
              </div>
            </div>

            <div class="col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
              <div class="icon-box"  style="background-color: whitesmoke;"data-aos="zoom-in" data-aos-delay="200">
                <div class="icon"><img src="https://cdn.pixabay.com/photo/2013/07/13/13/38/peace-symbol-161280_640.png"></div>
                <h4><a href="/noisless">Acoustic Tranquility</a></h4>
                <p> An integrated music tool offering effortless composition with environmental elements. Control sound intensity, explore modes, and curate perfect ambiances. Unleash your artistic potential and craft captivating melodies. Your power to create is in your hands with Acoustic Tranquility.</p>
              </div>
            </div>
          </div>
        </div>


    </div>
  </section>


<%- include("partials/footer"); -%>