<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Acoustic Tranquility</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,800" type="text/css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="shortcut icon" type="image/png" href="games/img/noisless/favicon.png"/>
  <link rel="stylesheet" href="games/css/noiseless.css">
</head>
<body>

  <div class="flex-container">
    <h1>Acoustic Tranquility</h1>

    <div id="welcome-text" class="flex-item">
      <p><strong>Unleash</strong> your creativity and</p>
      <p>and create your own <strong>music</strong>!</p>
    </div>

    <div id="sound-types" class="flex-container flex-item">
      <div data-key="forest" class="flex-container flex-item">
        <img src="games/img/noisless/forestmorningvector.svg" alt="Forest" title="Forest" class="flex-item">
        <input type="range" min="0" max="100" class="flex-item">
      </div>
      <div data-key="wavesound" class="flex-container flex-item">
        <img src="games/img/noisless/wavessound.svg" alt="wavesound" title="wavesound" class="flex-item">
        <input type="range" min="0" max="100" class="flex-item">
      </div>
      <div data-key="water" class="flex-container flex-item">
        <img src="games/img/noisless/waterdropsound.svg" alt="Water" title="Water" class="flex-item">
        <input type="range" min="0" max="100" class="flex-item">
      </div>
      <div data-key="fire" class="flex-container flex-item">
        <img src="games/img/noisless/firesound.svg" alt="Fire" title="Fire" class="flex-item">
        <input type="range" min="0" max="100" class="flex-item">
      </div>
      <div data-key="forestnightsound" class="flex-container flex-item">
        <img src="games/img/noisless/forestnightsound.svg" alt="Forest Night" title="Forest Night" class="flex-item">
        <input type="range" min="0" max="100" class="flex-item">
      </div>
      <div data-key="train" class="flex-container flex-item">
        <img src="games/img/noisless/trainsound.svg" alt="Train" title="Train" class="flex-item">
        <input type="range" min="0" max="100" class="flex-item">
      </div>
      <div data-key="fan" class="flex-container flex-item">
        <img src="games/img/noisless/fansound.svg" alt="Fan" title="Fan" class="flex-item">
        <input type="range" min="0" max="100" class="flex-item">
      </div>
      <div data-key="tvnoise" class="flex-container flex-item">
        <img src="games/img/noisless/tvnoise.png" alt="TV Noise" title="TV Noise" class="flex-item">
        <input type="range" min="0" max="100" class="flex-item">
      </div>

      <button id="btn-mute" class="flex-item fa fa-volume-up active" title="Mute/Unmute"></button>
    </div>
  </div>


  <audio data-key="forest" src="games/sounds/forest.ogg" loop></audio>
  <audio data-key="waterstream" src="games/sounds/waterstream.ogg" loop></audio>
  <audio data-key="wavesound" src="games/sounds/wavesound.ogg" loop></audio>
  <audio data-key="water" src="games/sounds/water.ogg" loop></audio>
  <audio data-key="fire" src="games/sounds/fire.ogg" loop></audio>
  <audio data-key="forestnightsound" src="games/sounds/forestnightsound.ogg" loop></audio>
  <audio data-key="train" src="games/sounds/train.ogg" loop></audio>
  <audio data-key="fan" src="games/sounds/fan.ogg" loop></audio>
  <audio data-key="tvnoise" src="games/sounds/tvnoise.ogg" loop></audio>

  <script src="games/js/acoustic.js" charset="utf-8"></script>
</body>
</html>
